.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  font-size: $font-size-sm;
}

@each $color, $value in $theme-colors {
  .alert-#{$color}.alert-highest {
    border-color: $value;
    background-color: $value;
    color: $white;
  }
  .alert-#{$color}.alert-middle {
    border: none;
    border-left: 4px solid $value;
    background-color: rgba($value, .12);
    color: darken($value, 12%);
  }
  .alert-#{$color}.alert-low {
    border-color: rgba($value, .2);
    background-color: rgba($value, .12);
    color: darken($value, 18%);
  }
  .alert-light {
    color: $body-color !important;
  }
}

.alert-icon {
  font-size: 16px;
  line-height: 1.32;
}

.alert-heading {
  position: relative;
  margin-right: -$alert-padding-x;
  padding-right: $alert-padding-x;
  color: inherit;

  .alert-icon {
    font-size: 24px;
    line-height: 1.2;
  }
}

.alert-dismissible {
  padding-right: $alert-padding-right;
}
