.breadcrumb {
  display: inline-block;
  border-radius: $breadcrumb-border-radius;

  // Item
  &-item {
    color: $secondary;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
  &-item.active {
    color: $dark;
    font-weight: 500;
    cursor: auto;
  }

  // separator
  &-separator {
    color: $secondary;
    margin: 0 10px;
    font-weight: normal;
  }
  // first separator hidden
  &-item:first-child &-separator {
    display: none;
  }
}
