.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  border-radius: $card-border-radius;
  overflow: hidden;

  &-header, &-footer {
    padding: 12px $card-padding-x;
    background-color: $gray-100;
    font-size: 16px;
  }

  &-header {
    margin-bottom: 0;
    border-bottom: 1px solid $border-color;
  }

  &-body {
    flex: 1 1 auto;
  }

  &-inner {
    padding: $card-padding-x $card-padding-x 0 $card-padding-x;
  }
  &-title {
    margin-bottom: 12px;
  }
  &-subtitle {
    margin-top: -6px;
    margin-bottom: 8px;
  }
  &-text {
    margin-bottom: 16px;
  }
  &-actions {
    padding: 0 $card-padding-x $card-padding-x $card-padding-x;
  }

  &-footer {
    margin-top: 0;
    border-top: 1px solid $border-color;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.card-shadow {
  box-shadow: $card-box-shadow;
}
.card-border {
  border: 1px solid $border-color;
}
