// layout
.layout {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  background-color: $gray-100;
  overflow: hidden;

  > .layout {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: auto;
  }

  &-column {
    flex-direction: column;
    transition: all .2s;
  }
}

// aside
.aside {
  background-color: $white;
  transition: width .2s;

  &-dark {
    background-color: rgb(37, 44, 53);
  }

  &-collapse {
    width: 60px;
  }

  &-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
  }
}

//
.header {
  width: 100%;
  padding: 0 20px;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  transition: left .2s;

  &-arrow {
    position: relative;
    top: 1px;
    display: inline-block;
    padding: 0 20px 0 10px;
    text-align: left;
    transition: all .2s;
    cursor: pointer;
    font-size: 16px;
    color: $gray-600;

    &:hover {
      color: $primary;
    }
  }

  &-fixed {
    position: fixed;
    right: 0;
  }
}

// main
.main {
  display: block;
  flex: 1;
  background-color: $white;
  margin: 20px;
  padding: 15px 20px;
}

// footer
.footer {
  padding: 0 20px;
  text-align: center;
}
