// layout
.layout {
  display: flex;
  flex: 1;
  min-height: 100%;
  background-color: $gray-100;

  &-column {
    flex-direction: column;
  }
}

// aside
.aside {
  background-color: $white;
  transition: width .2s;

  &-dark {
    background-color: rgb(37, 44, 53);
  }

  &-collapse {
    width: 60px;
  }
}

//
.header {
  width: 100%;
  padding: 0 20px;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);

  &-arrow {
    position: relative;
    top: 1px;
    display: inline-block;
    padding: 0 20px 0 10px;
    text-align: left;
    transition: all .2s;
    cursor: pointer;
    font-size: 16px;
    color: $gray-600;

    &:hover {
      color: $primary;
    }
  }
}

// main
.main {
  display: block;
  flex: 1;
  background-color: $white;
  margin: 20px;
  padding: 15px 20px;
}

// footer
.footer {
  padding: 0 20px;
  text-align: center;
}
