.spinner {
  display: inline-block;
  animation: rotateLoading 1.6s linear infinite;
}

@keyframes rotateLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
