// Block Loading
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .7);

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader.position-right {
    flex-direction: row;
  }
  .loader.position-bottom {
    flex-direction: column;
  }
  .loader.position-left {
    flex-direction: row-reverse;
  }
  .loader.position-top {
    flex-direction: column-reverse;
  }
  .loader-text {
    color: $primary;
    margin: 5px;
  }
  .circular {
    width: 40px;
    height: 40px;
    margin: auto;
    transform-origin: center center;
    animation: rotate 2s linear infinite;
  }
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: $primary;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
