.popover-wrap {
  position: relative;
  display: inline-block;
}

// Referece
.popover-reference {
  display: inline-block;
}

// Popover
.popover {
  position: absolute;
  z-index: 2000;

  &[x-placement="top"], &[x-placement="top-start"], &[x-placement="top-end"] {
    padding-bottom: 12px;

    .popover-arrow {
      bottom: -1px;
      border-top-color: $popover-border-color;

      &::before {
        top: -7px;
        left: -6px;
        border-top-color: $popover-bg-color;
      }
    }
  }
  &[x-placement="bottom"], &[x-placement="bottom-start"], &[x-placement="bottom-end"] {
    padding-top: 12px;

    .popover-arrow {
      top: -1px;
      border-bottom-color: $popover-border-color;

      &::before {
        top: -5px;
        left: -6px;
        border-bottom-color: $popover-bg-color;
      }
    }
  }
  &[x-placement="left"], &[x-placement="left-start"], &[x-placement="left-end"] {
    padding-right: 12px;

    .popover-arrow {
      right: -1px;
      border-left-color: $popover-border-color;

      &::before {
        top: -6px;
        left: -7px;
        border-left-color: $popover-bg-color;
      }
    }
  }
  &[x-placement="right"], &[x-placement="right-start"], &[x-placement="right-end"] {
    padding-left: 12px;

    .popover-arrow {
      left: -1px;
      border-right-color: $popover-border-color;

      &::before {
        top: -6px;
        left: -5px;
        border-right-color: $popover-bg-color;
      }
    }
  }
}

// Body
.popover-body {
  background: $popover-bg-color;
  border-radius: 4px;
  line-height: 1;
  min-width: 10px;
  box-shadow: $popover-box-shadow;
}

// Title
.popover-title {
  padding: $popover-padding;
  font-size: 16px;
  margin: 0;
  border-bottom: 1px solid $popover-border-color;
  color: inherit;
}

// content
.popover-content {
  padding: 12px;
}

// Arrow
.popover-arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;

  &::before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: ' ';
  }
}
