// spinner
.spinner {
  display: inline-block;
  animation: spinner 1.6s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
