.tabs {
  position: relative;
  display: flex;
}

// Nav
.tab-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// card
.tab-list.tabs-card {
  .tab-list-item {
    margin-bottom: -1px;
    background-color: $tab-card-color;
    border: 1px solid $border-color;
    border-top-left-radius: $tab-border-radius;
    border-top-right-radius: $tab-border-radius;
    margin-right: 6px;

    &.active {
      border-bottom-color: $white;
      background-color: $white;
    }
  }
}
// item
.tab-list-item {
  position: relative;
  padding: $tabs-list-padding;
  background-color: $white;
  cursor: pointer;

  &.active {
    color: $primary;
    font-weight: 500;
  }

  &.disabled {
    color: $tabs-disabled-color;
    cursor: not-allowed;
  }
}
.animated-line {
  position: absolute;
  background-color: $primary;
  z-index: 1;
  transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

// pane
.tab-pane__container {
  position: relative;
  flex: 1;
  overflow: hidden;
  background-color: $white;
}
.tab-pane {
  padding: $tab-pane-padding;
  height: 100%;
}

// position
.tabs.tabs-top {
  flex-direction: column;

  .tab-list {
    border-bottom: 1px solid $border-color;
  }

  .tab-list-item {
    display: inline-block;
  }

  .animated-line {
    left: 0;
    bottom: -2px;
    height: 3px;
  }
}
.tabs.tabs-bottom {
  flex-direction: column-reverse;

  .tab-list {
    border-top: 1px solid $border-color;
  }

  .tab-list-item {
    display: inline-block;
  }

  .animated-line {
    left: 0;
    top: -2px;
    height: 3px;
  }
}

.tabs.tabs-left {
  flex-direction: row;

  .tab-list {
    flex-direction: column;
    border-right: 1px solid $border-color;
  }

  .animated-line {
    top: 0px;
    right: -2px;
    width: 3px;
  }
}
.tabs.tabs-right {
  flex-direction: row-reverse;

  .tab-list {
    flex-direction: column;
    border-left: 1px solid $border-color;
  }

  .animated-line {
    top: 0px;
    left: -2px;
    width: 3px;
  }
}
