.tabs {
  position: relative;
}

// Nav
.tab-list {
  position: relative;
  border-bottom: 1px solid $border-color;
}
// card
.tab-list.tabs-card {
  .tab-list-item {
    margin-bottom: -1px;
    background-color: $tab-card-color;
    border: 1px solid $border-color;
    border-top-left-radius: $tab-border-radius;
    border-top-right-radius: $tab-border-radius;
    margin-right: 6px;

    &.active {
      border-bottom-color: $white;
      background-color: $white;
    }
  }
}
// item
.tab-list-item {
  position: relative;
  display: inline-block;
  padding: $tabs-list-padding;
  background-color: $white;
  cursor: pointer;

  &.active {
    color: $primary;
    font-weight: 500;
  }

  &.disabled {
    color: $tabs-disabled-color;
    cursor: not-allowed;
  }
}
.animated-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  background-color: $primary;
  z-index: 1;
  transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

// pane
.tab-pane__container {
  position: relative;
  overflow: hidden;
  background-color: $white;
}
.tab-pane {
  padding: $tab-pane-padding;
}
