.tag {
  position: relative;
  display: inline-block;
  border: 1px solid $border-color;
  padding: $tag-padding;
  background-color: $light;
  border-radius: $tag-border-radius;
  font-size: 12px;
  cursor: pointer;
  color: $body-color;
  transition: all .15s ease-in-out;

  & + .tag {
    margin-left: 5px;
  }
}

// theme
@each $color, $value in $tag-colors {
  .tag-#{$color} {
    background-color: rgba($value, .15);
    border-color: rgba($value, .7);
    color: $value;
  }
}

// close
.tag-close {
  display: inline-block;
  height: 100%;
}
