$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

$grid-columns:      12;
$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$grid-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1200px
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $gray-800 !default;

$border-color:                $gray-300 !default;

$border-radius:               4px !default;
$border-radius-lg:            8px !default;
$border-radius-sm:            2px !default;

// Links
// Style anchor elements.

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              16px !default; // Assumes the browser default, typically `16px`
$font-size-lg:                18px !default;
$font-size-sm:                14px !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      8px !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              $gray-900 !default;

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

// Close
$close-width: 40px;
$close-height: 40px;

// Button
$btn-font-weight:  400 !default;
$btn-padding-y: 10px !default;
$btn-padding-x: 20px !default;
$btn-line-height: 1 !default;
$btn-border-radius: 4px !default;
$btn-focus-box-shadow: 0 0 0 .2rem rgba(0,123,255,.25) !default;
$btn-round: 34px !default;

$btn-disabled-opacity: .5 !default;
$btn-loading-opacity: .8 !default;
$btn-link-disabled-color: $gray-500 !default;

$btn-small-padding-y: 6px !default;
$btn-small-padding-x: 12px !default;
$btn-small-round: 28px !default;

$btn-large-padding-y: 13px !default;
$btn-large-padding-x: 25px !default;
$btn-large-round: 40px !default;

// Alert
$alert-padding-y: 12px !default;
$alert-padding-x: 18px !default;
$alert-padding-right: 40px !default;

$alert-margin-bottom: 14px !default;

$alert-border-radius: 4px !default;

// Avator
$avator-border-radius: 4px !default;

// Backtop
$backtop-bg-color: $black !default;
$backtop-color: $white !default;

$backtop-border-radius: 2px !default;

// breadcrumb
$breadcrumb-padding-x: 12px !default;
$breadcrumb-padding-y: 20px !default;
$breadcrumb-border-radius: 4px !default;

// card
$card-border-radius: 4px !default;
$card-padding-x: 20px !default;
$card-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !default;

// bar
$bar-padding: 15px !default;
$bar-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !default;
