// Fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
  transform: translateZ(0);
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}

// fade-right-in
.fade-right-enter-active, .fade-right-leave-active {
  transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateZ(0);
}
.fade-right-enter, .fade-right-leave-to  {
  transform: translate(100%, 0);
}
// left
.fade-left-enter-active, .fade-left-leave-active {
  transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateZ(0);
}
.fade-left-enter, .fade-left-leave-to  {
  transform: translate(-100%, 0);
}

// Fade-delay
.fade-delay-enter-active, .fade-delay-leave-active {
  transition: opacity .3s;
  transform: translateZ(0);
}
.fade-delay-leave-active {
  position: absolute;
}
.fade-delay-enter, .fade-delay-leave-to  {
  opacity: 0;
}

// Fade Rotate
.fade-rotate-enter-active, .fade-rotate-leave-active {
  transition: opacity .3s, transform .3s;
  transform-origin: center top;
  transform: translateZ(0);
}
.fade-rotate-enter, .fade-rotate-leave-to {
  opacity: 0;
  transform: rotateX(90deg);
}

// Fade Up
.fade-up-enter-active {
  animation: fadeInUp .3s;
}
.fade-up-leave-active  {
  animation: fadeOutDown .3s;
}

// Fade Down
.fade-down-enter-active {
  animation: fadeInDown .3s;
}
.fade-down-leave-active  {
  animation: fadeOutUp .3s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
}
