@mixin one-item() {
  position: relative;
  padding: 0 24px;
  height: 44px;
  line-height: 44px;
  color: $gray-700;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    color: $primary;

    i {
      color: $primary;
    }
  }

  i {
    color: $gray-600;
  }

  i:not(.menu-arrow) {
    position: relative;
    top: -1px;
    margin-right: 10px;
  }
}
