// Close
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: $close-width;
  height: $close-height;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  opacity: .5;
  color: inherit;

  &:hover {
    color: #000;
    opacity: .75;
  }

  &:focus {
    outline: none;
  }
}
