$lines: 2, 3, 4, 5;

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: $value !important;
  }
}

// Alignment

.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-ellipsis { @include text-truncate; }
@each $line in lines {
  .text-ellipsis-#{$line} {
    @include ellipsis($line);
  }
}

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: center !important; }

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-light  { font-weight: $font-weight-light !important; }
.font-weight-normal { font-weight: $font-weight-normal !important; }
.font-weight-bold   { font-weight: $font-weight-bold !important; }
.font-italic        { font-style: italic !important; }
